<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NBA Predictor</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <link href="https://fonts.googleapis.com/css?family=Aldrich|Arima+Madurai|Arvo|Henny+Penny|
              Indie+Flower|Libre+Baskerville|Pirata+One|Poiret+One|Sancreek|Satisfy|Share+Tech+Mono|
              Smokum|Snowburst+One|Special+Elite" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/3b6a3b46f2fbe16704b7d85493e7c38e?family=Ren+&+Stimpy" rel="stylesheet"
    type="text/css" />
  
    <style id="bgStyle">
      /* body {
        background-image: url('../static/Images/Courts/ATL.jpg'), url('../static/Images/Gymfloor1.jpg');
      } */
      </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <center>
        <div class="well">
          <img src="../static/Images/nba-logo-transparent-300x300.png" style="width:20%; float:right;"
            class="img-rounded" alt="NBA logo">

          <h1>NBA Game Predictor</h1>
          <h2>Pick a Winner</h2>
        </div>
      </center>
    </div>
  </div>
  <center>
    <div class="well">
      <div class="row">

        <div class="col-sm-6">
          <center>
            <h5>SELECT Home Team:</h5>
            <select id="selDatasetHome" onchange="optionChangedHome(this.value)"></select>
          </center>
        </div>
        <div class="col-sm-6">
          <center>
            <h5>SELECT Away Team:</h5>
            <select id="selDatasetAway" onchange="optionChangedAway(this.value)"></select>
          </center>
        </div>

      </div>
    </div>

    <div class="panel panel-primary">
      <!-- <div class="panel-heading">
        <h3 class="panel-title">Sample MetaData</h3>
      </div> -->
      <div class="col-sm-6">
        <center>
          <div id="teamLogo_Home" class="panel-body">LOGO-LOADING</div>
        </center>

        <center>
          <div id="sample-metadataHome" class="panel-body">METADATA-LOADING</div>
        </center>

      </div>
      <div class="col-sm-6">
        <center>
          <div id="teamLogo_Away" class="panel-body">LOGO-LOADING</div>
        </center>
        <center>
          <div id="sample-metadataAway" class="panel-body">METADATA-LOADING</div>
        </center>
      </div>
    </div>
    </div>
  </center>
  <div class="col-md-6">
    <!-- <div id="pie"></div> -->
  </div>

  <div class="col-md-6">
    <!-- <div id="gauge"></div> -->
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- <div id="bubble"></div> -->
    </div>
  </div>



  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>